body {
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

body a,
body a:hover,
body a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

header {
	position: fixed;
	top: 30px;
	left: 0px;
	width: 100%;
	text-align: right;
	z-index: 1000;
	right: 50%;
}

header span {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 20px;
	cursor: pointer;
}

header span:first-child {
	border-radius: 10px 0px 0px 10px;
}

header.light span {
	background-color: #EAEAEA;
	background-color: rgba(234, 234, 234, 0.8);
}

header.light span {
	color: #666666;
}

header span.active {
	color: #9A9A9A;
}

header.light span.active {
	color: #C1C1C1;
}

div.stars-bg {
	width: 1000px;
	height: 750px;
	background: url(http://bandbappsllc.bandbappsllc.stackmobapp.com/images/centered-star-bg.png) no-repeat;
	z-index: 1;
}

button {
	display: block;
	width: 344px;
	height: 85px;
	border: 0px;
	background: url(http://bandbappsllc.bandbappsllc.stackmobapp.com/images/button-bg.png) no-repeat;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}

button.iphoneDownload {
	background: url(http://bandbappsllc.bandbappsllc.stackmobapp.com/images/iphone-button-bg.png) no-repeat;
	padding-left: 20px;
	/*display:none;/* TODO: Remove once store links are updated for download */
}

div.homepage {
	min-width: 1390px;
	width: 100%;
	height: 1130px;
	background: url(http://bandbappsllc.bandbappsllc.stackmobapp.com/images/wishlist-bg.png) repeat-x;
	margin: auto;
	text-align: center;
}

div.homepage div.stars-bg {
	position: absolute;
	right: 52%
}

div.homepage div.threecolumn {
	margin-top: 200px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	display: inline-block;
}

div.homepage div.threecolumn.column1 {
	font-size: 17px;
	color: white;
	font-family: Arial, sans-serif;
	position: relative;
	width: 290px;
	z-index: 10;
	margin-top: 0px;
	bottom: 300px;
	text-align: left;
}

.oldie div.homepage div.threecolumn.column1 {
	bottom: 690px;
}

.ie8 div.homepage div.threecolumn.column1 {
	bottom: 300px;
}

div.homepage div.threecolumn.column1 button {
	margin-top: 65px;
}

div.homepage div.threecolumn.column2 {
	position: relative;
	width: 330px;
	margin-left: 10px;
	margin-right: 10px;
	z-index: 10;
	bottom: 400px;
}

div.homepage div.threecolumn.column2 img {
	width: 325px;
	height: 425px;
}

div.homepage div.threecolumn.column3 {
	position: relative;
	width: 490px;
	z-index: 10;
	bottom: 100px;
}

div.homepage div.threecolumn.column3 img {
	width: 490px;
	height: 900px;
}

div.featurespage {
	width: 100%;
	height: 1130px;
	background-color: #F6F6F6;
	color: #000000;
	text-align: center;
	white-space: nowrap;
}

div.featurespage div.twocolumn {
	margin: auto;
	padding-top: 65px;
}

div.featurespage div.twocolumn.column1 {
	display: inline-block;
	position: relative;
	width: 630px;
	height: 921px;
}

div.featurespage div.twocolumn.column2 {
	display: inline-block;
	position: relative;
	width: 500px;
	padding-left: 20px;
	padding-top: 155px;
	font-size: 16px;
	bottom: 400px;
	white-space: normal;
	text-align: left;
}

div.featurespage div.twocolumn.column2 ul {
	padding-left: 0px;
}

div.featurespage div.twocolumn.column2 ul li {
	font-size: 14px;
	list-style: none;
	background: url(../images/star-yellow.png) no-repeat;
	padding-left: 50px;
	height: 30px;
	margin-bottom: 10px;
	line-height: 15px;
	padding-top: 5px;
}

div.featurespage div.twocolumn.column2 ul li.blue {
	background: url(../images/star-blue.png) no-repeat;
}

div.featurespage div.twocolumn.column2 ul li.green {
	background: url(../images/star-green.png) no-repeat;
}

div.featurespage div.twocolumn.column2 ul li.yellow {
	background: url(../images/star-yellow.png) no-repeat;
}

div.featurespage div.twocolumn.column2 ul li.pink {
	background: url(../images/star-pink.png) no-repeat;
}

div.featurespage div.twocolumn.column2 img {
	position: absolute;
	left: 30px;
}

div.featurespage div.twocolumn.column2 button {
	position: absolute;
	left: 211px;
	top: 680px;
}

div.videopage {
	width: 100%;
	height: 1130px;
	background: url(../images/wishlist-bg.png) repeat-x;
	color: #EFEFEF;
	text-align: center;
	margin: auto;
}

div.videopage div.stars-bg {
	position: absolute;
	right: 52%;
}

div.videopage div.threecolumn {
	margin-top: 200px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	display: inline-block;
}

div.videopage div.threecolumn.column1 {
	position: relative;
	width: 293px;
	z-index: 10;
	margin-top: 0px;
	bottom: -67px;
}

.oldie div.videopage div.threecolumn.column1 {
	bottom: 690px;
}

.ie8 div.videopage div.threecolumn.column1 {
	top: 66px;
}

div.videopage div.threecolumn.column2 {
	position: relative;
	width: 293px;
	z-index: 10;
	top: 65px;
}

div.videopage div.threecolumn.column3 {
	position: relative;
	width: 293px;
	z-index: 10;
	bottom: 102px;
}

div.videopage iframe {
	margin-bottom: 5px;
}

div.videopage footer {
	position: relative;
	/*top: 3100px;*/
	left: 360px;
	z-index: 3;
	bottom: 75px;
}

div.videopage footer span.logo {
	position: relative;
	right: 141px;
	display: inline-block;
	width: 93px;
	height: 110px;
	background: url(http://bandbappsllc.bandbappsllc.stackmobapp.com/images/wishlist-logo-small.png) no-repeat;
}

div.videopage footer span.copytext {
	display: block;
	clear: right;
	position: relative;
	bottom: 100px;
	left: 5px;
	font-size: 14px;
}